#workspace-container {
    max-height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }

    @import "./components/editor/editor.scss";
    @import "./components/projects-browser/projects-browser.scss";
    @import "./components/create-project-form/create-project-form.scss";
    @import "./components/static-dir-browser/static-dir-browser.scss";
}
