.static-file-picker-popup {
    .files-container {
        max-height: 50vh;
        overflow-y: scroll;
        padding: 5px;
        .file-overview {
            cursor: pointer;
            &:hover {
                background-color: $gui_background_color_2;
            }
            &.selected {
                outline: 1px solid $selected_element_border_color;
            }
        }
    }
    &.image {
        .files-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            .file-overview {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                width: 140px;
                padding: 10px;
                cursor: pointer;
                img {
                    width: 70px;
                }
                span {
                    font-size: $medium_font_size;
                    padding: 5px 10px;
                    overflow-wrap: anywhere;
                    text-align: center;
                }
                &:hover {
                    background-color: $gui_background_color_2;
                }
                &.selected {
                    outline: 1px solid $selected_element_border_color;
                }
            }
        }
    }

    &.sound {
        .files-container {
            display: flex;
            flex-direction: column;
            .file-overview {
                display: flex;
                flex-direction: column-reverse;
                gap: 5px;
                padding: 15px;
                margin: 0 5px;
                audio {
                    height: 25px;
                    min-width: 40vw;
                }
                span {
                    text-transform: capitalize;
                }
            }
        }
    }

    &.video {
        .files-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1px;
            .file-overview {
                padding: 15px;
                video {
                    width: 100%;
                    max-height: 120px;
                }
            }
        }
    }

    &.document {
        .files-container {
            display: flex;
            flex-wrap: wrap;
            .file-overview {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 100px;
                .document-display-template {
                    img {
                        width: 40px;
                    }
                    .filename {
                        display: none;
                    }
                }
                span {
                    overflow-wrap: anywhere;
                    text-align: center;
                }
            }
        }
    }

    &.choose-dir {
        display: flex;
        flex-direction: column;
        align-items: center;
        .buttons {
            display: flex;
            gap: 20px;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        gap: 20px;
    }
}
