#projects-browser {
    flex: 1;
    background-color: $gui_background_color_2;
    color: $gui_font_color;
    padding: 20px;
    min-height: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $gui_font_color;
            cursor: pointer;
            font-size: $large_font_size;
            min-width: 120px;
            height: 120px;
            font-weight: bold;
            padding: 20px;
            &:hover {
                background-color: $gui_list_item_hover_background_color;
            }
            * {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}