#editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    #selected-file-render {
        flex: 1;
        display: flex;
        main {
            min-height: unset !important;
        }
    }
    &.edit {
        #selected-file-render {
            * {
                position: relative;
            }
            *:not(.unselectable-element) {
                padding: 5px;
                margin: 5px;
                border: $selectable_element_border;
                background-color: white;
                color: initial;
                cursor: pointer;
                &.selected-element {
                    border: $selected_element_border;
                }
            }
            span,
            strong,
            a,
            img,
            b,
            i,
            u {
                display: inline-block;
            }

            .unselectable-element {
                padding: 3px;
                margin: 3px;
                border: none;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $unselectable_element_background_color;
                }
            }

            .selectable-element-hover {
                border: $selectable_element_hover_border;
            }
        }
    }
    &.render {
        // * {
        //     margin: 0;
        //     border: none;
        // }
    }
    .state-bar {
        display: flex;
        gap: 20px;
        background-color: $gui_background_color;
        position: sticky;
        top: 0;
        z-index: 4;
        padding: 6px 20px;
        border-bottom: 1px solid $gui_border_color;
    }
}
