#explorer {
    display: flex;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $gui_background_color;
    color: $gui_font_color;
    border-right: 1px solid $gui_border_color;
    min-width: 120px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &::-webkit-scrollbar {
        width: 0;
    }
    .sizer {
        width: 16px;
        position: absolute;
        height: 100%;
        right: -8px;
        top: 0;
    }
    #explorer-contents-container {
        flex: 1;
        .loaded-project-name {
            padding: 8px;
            border-bottom: 1px solid $gui_border_color;
            font-size: $large_font_size;
            strong {
                text-transform: uppercase;
            }
        }
        .selectable-files-lists-container {
            .list-title {
                font-weight: 600;
                font-size: $medium_font_size;
                padding: 5px;
            }
            ul {
                position: relative;
                li {
                    padding: 3px 3px 3px 15px;
                    cursor: pointer;
                    &:hover {
                        background-color: $gui_list_item_hover_background_color;
                    }
                    &.selected-file {
                        background-color: $gui_list_item_selected_background_color;
                        color: white;
                    }
                    &.create-new-page-btn {
                        &::before {
                            content: "+";
                            position: relative;
                            left: -10px;
                        }
                    }
                }
            }
        }
    }
}
