.data-binder-inputs-container {
    width: 100%;
    & > * {
        width: 100%;
    }

    img {
        width: 50%;
    }
    audio {
        height: 25px;
        width: 100%;
    }
    video {
        max-width: 100%;
        max-height: 200px;
    }

    .input-block {
        margin: 10px 0;
        label {
            display: block;
            width: 100%;
        }
        &.inline-block {
            align-items: center;
            label {
                width: unset;
            }
            input {
                width: unset !important;
            }
        }
        .list-input {
            width: 100%;
            #inputs-container {
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
                #edit-list-items {
                    list-style-type: disc;
                    li {
                        margin: 0 0 0 15px;
                        padding: 3px 0;
                    }
                    #add-item-form {
                        margin: 0;
                        list-style-type: none;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        textarea {
                            flex: 1;
                        }
                    }
                    #submit-btn-container {
                        list-style-type: none;
                        margin: 0;
                    }
                }
            }
        }
    }
    .element-selector {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
        width: 100%;
    }
    .static-file-input {
        width: 100%;
        .static-file-input-overview {
            display: flex;
            justify-content: center;
            padding: 5px;
            .document-display-template {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 40px;
                }
                .filename {
                    margin: 5px 0 10px 0;
                }
            }
        }
        .gui-button {
            width: 100%;
        }
    }
    .box-overview {
        background-color: $gui_background_color_3;
        padding: 2px;
        margin-bottom: 10px;
        max-width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
        img,
        video {
            width: auto;
            max-height: 50px;
            max-width: 100%;
            overflow: hidden;
        }
        audio {
            max-height: 25px;
            min-width: 180px;
        }
        * {
            margin: 2px;
            padding: 2px;
            // border: 1px solid $gui_background_color;
            cursor: pointer;
        }
    }
}
