#properties-editor {
    width: 100%;
    height: 100%;
    padding: 10px;
    .section-title {
        font-size: $medium_font_size;
    }
    #selected-element-mutation-form {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        textarea {
            min-height: 150px;
        }
        select {
            cursor: pointer;
            background-color: white;
        }
        input,
        select,
        textarea {
            width: 100%;
        }
        .input-block {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            width: 100%;
            .input-label {
                margin-bottom: 5px;
                font-weight: 600;
                width: 100%;
            }
        }
    }

    @import "./data-binder-inputs-container.scss";

    .delete-cpt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $red;
        margin-top: 40px;
    }
    .box-overview {
        pointer-events: none;
    }
}
