#create-project-form {
    background-color: $gui_background_color_2;
    flex: 1;
    color: $gui_font_color;
    padding: 20px;
    min-height: 100%;
    form {
        label {
            font-weight: bold;
        }
        .input-block {
            display: flex;
            gap: 20px;
            align-items: center;
            margin: 20px 0;

            input {
                flex: 1;
            }
        }
        .buttons {
            display: flex;
            gap: 20px;
            margin: 20px 0;
        }
        .choose-template-block {
            ul.templates-list {
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-auto-columns: 200px;
                gap: 20px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li.template-list-item {
                    cursor: pointer;
                    .template-name-container {
                        display: flex;
                        align-items: center;
                        margin: 10px 0;
                        gap: 10px;
                    }
                    .template-overview-container {
                        position: relative;
                        width: 100px;
                        height: 160px;
                        border: 2px solid $gui_list_item_hover_background_color;
                        gap: 2px;
                        background-color: $gui_list_item_hover_background_color;
                        &.selected, &:hover {
                            border-color: $selected_element_border_color;
                        }
                        *:not(main) {
                            margin: 1px;
                            padding: 3px;
                            background-color: $gui_list_item_selected_background_color;
                            color: $gui_list_item_selected_background_color;
                            font-size: 3px;
                            &#page-container {
                                background-color: $gui_list_item_hover_background_color;
                                color: $gui_list_item_hover_background_color;
                            }
                        }

                        main {
                            padding: 0;
                        }
                        a {
                            pointer-events: none;
                        }
                        ul {
                            list-style-type: none;
                        }
                    }
                }
            }
        }
    }
}
