#static-dir-browser {
    background-color: $gui_background_color_2;
    color: $gui_font_color;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    .dir-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            text-transform: capitalize;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        &.image {
            flex-wrap: wrap;
            gap: 20px;
            li.file-display-card {
                background-color: $gui_background_color;
                width: 200px;
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: 1fr auto;
                .file-display-template-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        height: 130px;
                    }
                    grid-column: 1;
                }
                .file-options {
                    display: flex;
                    flex-direction: column;
                    grid-column: 2;
                    border-left: 1px solid $gui_border_color;
                    gap: 6px;
                    .gui-button {
                        font-size: 8px;
                        padding: 2px;
                    }
                }
                .filename {
                    display: flex;
                    align-items: center;
                    grid-column: 1 / span 2;
                    span {
                        font-size: $medium_font_size;
                        padding: 5px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        border-top: 1px solid $gui_border_color;
                    }
                    form.rename-form {
                        border-top: 1px solid $gui_border_color;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        input[type="text"] {
                            width: 100%;
                            padding: 2px;
                        }
                        .gui-button.spot {
                            margin: 0 3px;
                        }
                    }
                }
            }
        }
        &.sound {
            flex-direction: column;
            gap: 20px;
            li.file-display-card {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto 1fr;
                .file-display-template-container {
                    grid-column: 1 / span 2;
                    grid-row: 2;
                    audio {
                        width: 100%;
                    }
                }
                .file-options {
                    grid-column: 2;
                    grid-row: 1;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 6px;
                    .gui-button {
                        font-size: 8px;
                        padding: 2px;
                    }
                }
                .filename {
                    grid-column: 1;
                    grid-row: 1;
                    font-size: $medium_font_size;
                    padding: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    form.rename-form {
                        .gui-button.spot {
                            margin: 0 3px;
                        }
                    }
                }
            }
        }

        &.video {
            flex-wrap: wrap;
            gap: 20px;
            li.file-display-card {
                background-color: $gui_background_color;
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: 1fr auto;
                .file-display-template-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    video {
                        height: 230px;
                    }
                }
                .file-options {
                    display: flex;
                    flex-direction: column;
                    grid-column: 2;
                    border-left: 1px solid $gui_border_color;
                    gap: 6px;
                    .gui-button {
                        font-size: 8px;
                        padding: 2px;
                    }
                }
                .filename {
                    display: flex;
                    align-items: center;
                    grid-column: 1 / span 2;
                    span {
                        font-size: $medium_font_size;
                        padding: 5px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        border-top: 1px solid $gui_border_color;
                    }
                    form.rename-form {
                        border-top: 1px solid $gui_border_color;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        input[type="text"] {
                            width: 100%;
                            padding: 2px;
                        }
                        .gui-button.spot {
                            margin: 0 3px;
                        }
                    }
                }
            }
        }
        &.document,
        &.source {
            flex-wrap: wrap;
            gap: 20px;
            li.file-display-card {
                background-color: $gui_background_color;
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                padding: 5px;
                width: 120px;
                .file-display-template-container {
                    .document-display-template {
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 70px;
                            height: 100px;
                        }
                        .filename {
                            display: flex;
                            align-items: center;
                            span {
                                font-size: $medium_font_size;
                                padding: 5px 10px;
                                overflow-wrap: anywhere;
                                text-align: center;
                            }
                            form.rename-form {
                                border-top: 1px solid $gui_border_color;
                                padding: 5px;
                                display: flex;
                                align-items: center;
                                input[type="text"] {
                                    width: 100%;
                                    padding: 2px;
                                }
                                .gui-button.spot {
                                    margin: 0 3px;
                                }
                            }
                        }
                    }
                }
                .file-options {
                    display: flex;
                    grid-row: 1;
                    gap: 6px;
                    .gui-button {
                        font-size: 8px;
                        padding: 2px;
                    }
                }
                .filename {
                    display: none;
                }
            }
        }
    }
}
