.warning-unsaved-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}
