.box-editor {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 20px;
    .overview-header {
        background-color: $gui_background_color_3;
        padding: 2px 5px;
        color: $gui_font_color;
        font-weight: 500;
    }
    .editor-selection {
        border: $selected_element_border;
    }
    .overview {
        flex: 1;
        max-height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
        position: relative;
        background-color: white;
        // background-color: $gui_background_color_4;
        color: initial;
        grid-row: 1 / span 3;
        * {
            pointer-events: none;
            max-width: 100%;
        }
        cursor: pointer;
    }
    .components-tree {
        flex: 1;
        grid-row: 1 / span 2;
        ul {
            max-height: 70%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0;
            }
            list-style-type: none;
            margin: 0;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            li {
                display: flex;
                flex-direction: column;
                background-color: $gui_background_color_3;
                .component-overview {
                    background-color: white;
                    // background-color: $gui_background_color_4;
                    color: initial;
                    padding: 6px;
                    img {
                        height: 35px;
                    }
                    audio {
                        height: 25px;
                    }
                    video {
                        height: 45px;
                    }
                    cursor: pointer;
                    * {
                        pointer-events: none;
                    }
                }
                &.drop-placeholder {
                    padding: 0;
                    height: 4px;
                    background-color: transparent;
                    display: table;
                    &.hovered {
                        background-color: $green;
                    }
                }
                &.moved {
                    opacity: 0.1;
                }
            }
        }
        .element-selector {
            img,
            video {
                height: 100px;
            }
        }
    }

    .edit-selection {
        grid-row: 1 / span 2;
        .mutation-form {
            position: relative;
            * {
                max-width: 100%;
            }
            img,
            video {
                height: 50px;
            }
            audio {
                height: 25px;
            }
            .box-overview {
                background-color: $gui_background_color_3;
                padding: 10px;
                max-height: 400px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                }
                pointer-events: none;
            }
        }
    }

    .buttons {
        grid-column: 2 / span 3;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }
}
