.create-page-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    form {
        .input-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-gap: 20px;
            padding: 10px 0;
        }
        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }

}
