@import "./theme.scss";

body {
    * {
        box-sizing: border-box;
    }
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: $regular_font_size;
    #app-container {
        height: 100vh;
        #main-layout {
            height: 100vh;
            display: grid;
            grid-template-columns: auto 1fr auto;
            .sizer {
                cursor: col-resize;
            }
            .gui-button {
                background-color: $gui_btn_background_color;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 5px 15px;
                color: $gui_background_color;
                font-weight: bold;
                &:hover {
                    background-color: $gui_btn_hover_background_color;
                }
                &.spot {
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                    flex-shrink: 0;
                    padding: 0;
                    &.green {
                        background-color: $green;
                        &:hover {
                            background-color: $light_green;
                        }
                    }
                    &.red {
                        background-color: $red;
                        &:hover {
                            background-color: $light_red;
                        }
                    }
                }
                &.disabled {
                    background-color: $gui_btn_disabled_background_color;
                    pointer-events: none;
                }

                &.discrete {
                    font-weight: 500;
                    padding: 3px 15px;
                }
            }

            input,
            textarea,
            select {
                border: none;
                outline: none;
                padding: 5px;
            }

            audio,
            video {
                outline: none;
            }

            @import "./components/explorer/explorer.scss";

            @import "./components/workspace/workspace.scss";

            @import "./components/toolbar/toolbar.scss";

            #modal-layer,
            #loader-layer {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #0004;
                justify-content: center;
                align-items: center;
                &.show {
                    display: flex;
                }
                &.hide {
                    display: none;
                }
            }
            #modal-layer {
                .popup-container {
                    background-color: $gui_background_color;
                    color: $gui_font_color;
                    box-shadow: $popup_box_shadow;
                    padding: 30px;
                    z-index: 5;
                    max-width: 90vw;
                    max-height: 80vh;
                    position: absolute;
                    .popup-topbar {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        background-color: $gui_background_color_2;
                        border-bottom: 1px solid $gui_border_color;
                        padding: 2px 5px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        .gui-button {
                            padding: 0;
                            width: 15px;
                            height: 15px;
                        }
                    }
                    @import "./components/popups/warning-unsaved-popup/warning-unsaved-popup.scss";
                    @import "./components/explorer/components/create-page-popup.scss";
                    @import "./components/popups/image-overview-popup/image-overview-popup.scss";
                    @import "./components/popups/video-overview-popup/video-overview-popup.scss";
                    @import "./components/popups/static-file-picker-popup/static-file-picker-popup.scss";
                    @import "./components/popups/box-editor-popup/box-editor-popup.scss";
                }
            }

            #loader-layer {
                .loader-container {
                    background-color: $gui_background_color;
                    color: $gui_font_color;
                    padding: 40px;
                    font-weight: bold;
                    font-size: $medium_font_size;
                }
            }

            @import "../generic/box-editor/box-editor.scss";
        }
    }
}
