$green : rgb(65, 173, 137);
$light_green: lighten($green, 15);
$red: rgb(160, 63, 33);
$light_red: lighten($red, 15);

$gui_background_color: #445;
$gui_background_color_2: darken($gui_background_color, 5);
$gui_background_color_3: lighten($gui_background_color, 10);
$gui_background_color_4: lighten($gui_background_color, 50);

$gui_font_color: #bbc;
$gui_btn_background_color: #bbc;
$gui_btn_hover_background_color: #dde;
$gui_btn_disabled_background_color: rgb(146, 146, 155);
$gui_border_color: #2e2e37;
$gui_list_item_hover_background_color: #585865;
$gui_list_item_selected_background_color: #7f7f85;

$popup_box_shadow: 0 0 10px 10px #0002;

$regular_font_size: 12px;
$medium_font_size: 15px;
$large_font_size: 18px;

$selected_element_border_color: $green;
$selectable_element_border_color: #ccd;
$selectable_element_border: 1px dashed $selectable_element_border_color;
$selected_element_border: 1px solid $selected_element_border_color;
$selectable_element_hover_border: 1px dashed $selected_element_border_color;
$unselectable_element_background_color: #ddda;


