#toolbar {
    display: flex;
    position: relative;
    min-width: 200px;
    width: 300px;
    border-left: 1px solid $gui_border_color;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .tools-container {
        background-color: $gui_background_color;
        color: $gui_font_color;
        width: 100%;
        @import "./components/properties-editor.scss";
    }
    .sizer {
        width: 16px;
        position: absolute;
        height: 100%;
        left: -8px;
        top: 0;
    }

    &.hidden {
        display:none;
    }
}
